<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的订单</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/userOrder.css"/>

    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/userOrder.js"></script>

</head>
<body>
<div class="nav-top-container">
    <div class="nav-logo title">NJU-Se电影购票系统</div>
    <ul class="nav nav-pills">
        <li role="presentation"><a href="/user/home">首页</a></li>
        <li role="presentation"><a href="/user/movie">电影</a></li>
    </ul>
    <div class="btn-group">
        <button class="nav-user-container btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="avatar-sm" src="/images/defaultAvatar.jpg" />
            <span class="gray-text" style="vertical-align: middle">用户A&nbsp;<span class="caret"></span></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="/user/buy">电影票</a></li>
            <li><a href="/user/member">卡包</a></li>
            <li><a href="/user/order">我的订单</a></li>
            <li id="logout"><a href="#">登出</a></li>
        </ul>
    </div>
</div>

<div class="main-container">
    <div class="info-container clearfix">
        <!-- 导航按钮 -->
        <div class="user-profile-nav">
            <h1>我的订单</h1>
            <a href="/user/order" class="orders active">消费记录</a>
            <a href="/user/recharge" class="recharge">充值记录</a>
        </div>
        <!-- 历史消费记录 -->
        <div class="consumption-records">
            <div class="profile-title">消费记录</div>
            <!--<div class='order-box' data-orderid='96765'>-->
                <!--<div class='order-header'>-->
                    <!--<span class='order-date'>2019-5-20</span>-->
                    <!--<span class='order-id'>订单号：3425246534</span>-->
                <!--</div>-->
                <!--<div class='order-body'>-->
                    <!--<div class='poster'>-->
                        <!--<img src='http://n.sinaimg.cn/translate/640/w600h840/20190312/ampL-hufnxfm4278816.jpg'>-->
                    <!--</div>-->
                    <!--<div class='order-content'>-->
                        <!--<div class='movie-name'>夏目友人帐</div>-->
                        <!--<div class='cinema-name'>HYDC影城</div>-->
                        <!--<div class='hall-ticket'>-->
                            <!--<span>3号厅 6排7座 7排8座</span>-->
                        <!--</div>-->
                        <!--<div class='show-time'>5月20号 13：30</div>-->
                    <!--</div>-->
                    <!--<div class='order-price'>￥68.8</div>-->
                    <!--<div class='order-status'>已完成</div>-->
                    <!--<div class='actions'>-->
                        <!--<div>-->
                            <!--<a href='/user/orderDetail?id=4747585' class='order-detail'>查看详情</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>

    </div>
</div>
</body>
</html>